.now button{
    outline: 0;
    border: 0;
    background: transparent;
}

@media screen  and (max-width: 1024px){
    .search-box{
        text-align: center;
        width: 10cm !important;
    }
    .now{
        flex-basis: 6%;
    }
    .now input{
        width: 8cm !important;
    }
}
::placeholder{
   color: black;
}
.result-box ul{
    border-top: 1px solid black;
    padding:10px 10px;
}
.result-box ul li{
    list-style-type: none;
    /* border-radius:3px; */
    padding:5px 5px 0 0;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}
.result-box{
    /* max-height: 300px; */
    overflow-y: scroll;
}